/* your styles go here */
.wrapper {
  visibility: visible;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#ffffff, #ffffff);
}

.hide-loader {
  visibility: hidden;
  z-index: -9999;
}

.main-circle {
  width: 150px;
  height: 150px;
  border: 4px solid blue;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 2s infinite;
}

header.header {
  position: sticky !important ;
  z-index: 999 !important;
  top: 0 !important;
  /* -webkit-box-shadow: 2px 3px 5px 1px rgba(191,170,191,1);
-moz-box-shadow: 2px 3px 5px 1px rgba(191,170,191,1); */
  box-shadow: 1px 1px 2px 1px rgba(191, 170, 191, 1);
}

nav.header {
  position: sticky !important ;
  z-index: 999 !important;
  top: 0 !important;
  box-shadow: 1px 1px 2px 1px rgb(54, 53, 54);
}

.main-circle:before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  border: 4px solid transparent;
  border-right: 4px solid blue;
  transform: rotate(40deg);
  border-radius: 50%;
}

.green-circle {
  animation: rotate 2s infinite 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 4px solid blue;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: rotate(-20deg);
  border-radius: 50%;
  position: relative;
}

.green-circle:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  border: 4px solid transparent;
  border-right: 4px solid blue;
  transform: rotate(60deg);
}

.brown-circle {
  animation: rotate 2s infinite 0.6s;
  width: 80px;
  height: 80px;
  border: 4px solid blue;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: rotate(-20deg);
  border-radius: 50%;
}

@keyframes rotate {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-dialog-full-width {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.modal-content-full-width {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  background-color: #ffffff !important;
  color: rgb(29, 28, 28);
}

.modal-header-full-width {
  border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width {
  border-top: 1px solid #9ea2a2 !important;
}

.search-btn {
  background: none !important;
  outline: none;
  border: none;
  padding-bottom: 3px;
  color: rgba(36, 89, 158, 0.973);
}

.modal {
  padding: 0 !important;
}

form.form-inline {
  /* width: 100%;
  height: 100%;
  margin: 0 auto; */
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}

.close {
  color: #fff !important;
}

/*  */
