{% extends 'base.html' %} {% load static %} {% static "img" as baseUrl %}
{% block content %}
<div class="page-holder">
  <!-- HERO SECTION-->
  <div class="container">
      <section >
         <!-- Wishlist-->
       <div class="">
          <!-- CART TABLE-->
          <div class="table-responsive mb-4" style="margin-top: 3rem;">
            <table class="table">
              <thead class="bg-light">
                <tr>
                  <th class="border-0" scope="col">
                    <strong class="text-small text-uppercase">Product</strong>
                  </th>
                  <th class="border-0" scope="col">
                    <strong class="text-small text-uppercase">Price</strong>
                  </th>
                  <th class="border-0" scope="col">
                    <strong class="text-small text-uppercase">Date added</strong>
                  </th>
                  <th class="border-0" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <!-- cart item -->
                {% for favourites in favs %}
                <tr>
                  <th class="pl-0 border-light" scope="row">
                    <div class="media align-items-center">
                      <a
                        class="reset-anchor d-block animsition-link"
                        href="{% url 'detail' favourites.item.name %}"
                        ><img
                          class="favourites-img"
                          src="{{favourites.item.main_image.url}}"
                          alt="..."
                          width="70"
                      /></a>
                      <div class="media-body ml-3">
                        <strong class="h6"
                          ><a
                            class="reset-anchor animsition-link"
                            href="{% url 'detail' favourites.item.name %}"
                            >{{favourites.item}}</a
                          ></strong
                        >
                      </div>
                    </div>
                  </th>
                  <td class="align-middle border-light">
                    <p class="mb-0 small">GHC {{favourites.item.price}}</p>
                  </td>
                  <td class="align-middle border-light">
                    <p class="mb-0 small">{{favourites.date_added}}</p>
                  </td>
                  <td class="align-middle border-light">
                    <a class="reset-anchor" href="#"
                      ><i data-name="{{favourites.item.name}}" data-action="remove-fav" class="remove-favourites fas fa-trash-alt small text-muted"></i
                    ></a>
                  </td>
                </tr>
                {% endfor %}
                <!-- end cart item -->
              </tbody>
            </table>
          </div>
          <!-- CART NAV-->
          <div class="bg-light px-4 py-3">
            <div class="row align-items-center text-center">
              <div class="col-md-6 mb-3 mb-md-0 text-md-left">
                <a
                  class="btn btn-link p-0 text-dark btn-sm"
                  href="{% url 'shop' %}"
                  ><i class="fas fa-long-arrow-alt-left mr-2"> </i>Continue
                  shopping</a
                >
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
      </section>
  </div>
      <script src="{% static 'cart/remove_fav.js' %}"></script>
  
  {% endblock %}